.nav-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color:rgba(207, 207, 207, 0.7);
	border-bottom: .02rem rgba(0, 0, 0, 0.5) solid;

	@media (max-width: $break-small) {
    flex-direction: column;
  }

	top: 0;
	width: 100%;
	position: fixed;

	.route-links, .social-links {
		flex-grow: 1;
		align-self: center;

		.route-link, .social-link {
			vertical-align: middle;
		}
	}
}
