.route-links {
	@media (max-width: $break-small) {
		text-align: center;
	}

	.route-link {
		height: 1.2rem;
		margin: 0 0.4rem;
		cursor: pointer;
		opacity: .5;

		color: #000;
		font-size: 80%;
		letter-spacing: .4rem;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;

		@media (max-width: $break-small) {
			letter-spacing: .1rem;
	    font-size: 75%;
	  }

		&:hover {
			opacity: 1;
		}

		&.mononome {
			height: .7rem;
			content: url(svg/logo.svg);

			@media (max-width: $break-small) {
				height: 2rem;
				margin: 0.8rem 0;
				flex-grow: 1;
		  }
		}
	}
}
