.sheran-album-section {
	background: url('img/sheran-600.png') no-repeat center center;

	@media (min-width: $break-small) {
		background-size: auto 100%;
	}

	@media (max-width: $break-smaller) {
		background: url('img/sheran-500.png') no-repeat center center;
	}

	.sheran-album {
		margin: 0 auto;
		align-self: center;
		text-align: center;
		border: .02rem rgba(0, 0, 0, 0.5) solid;
		background-color:rgba(207, 207, 207, 0.7);

		.sheran-album-title {
			font-size: 2.4rem;
			font-weight: bold;
			font-style: italic;
			padding: .6rem 1.2rem;
		}

		.sheran-album-sub-title {
			color: #CFCFCF;
			font-size: .6rem;
			font-weight: bold;
			padding: .6rem 1.2rem;
			text-transform: uppercase;
			letter-spacing: .6rem;
			background-color:rgba(0, 0, 0, .85);
		}

		.sheran-album-links {
			opacity: .85;
			padding: .6rem 1.2rem;

			a {
				height: 1.2rem;
				margin: 0 .6rem;
			}
		}
	}
}
