.social-icon {
	&.amazon {
		content: url(svg/social-links-amazon.svg);
	}
	&.apple, &.i-tunes {
		content: url(svg/social-links-apple.svg);
	}
	&.bandcamp {
		content: url(svg/social-links-bandcamp.svg);
	}
	&.facebook {
		content: url(svg/social-links-facebook.svg);
	}
	&.instagram {
		content: url(svg/social-links-instagram.svg);
	}
	&.soundcloud {
		content: url(svg/social-links-soundcloud.svg);
	}
	&.spotify {
		content: url(svg/social-links-spotify.svg);
	}
	&.twitter {
		content: url(svg/social-links-twitter.svg);
	}
	&.youtube {
		content: url(svg/social-links-youtube.svg);
	}
}