.social-links {
	.social-link-list {
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		@media (max-width: $break-small) {
			justify-content: center;
		}

		.social-link {
			display: flex;
			list-style: none;

			a {
			 	height: 1.2rem;
				margin: 0 0.4rem;
				opacity: .5;
				align-self: center;

				@media (max-width: $break-small) {
					height: 1rem;
					margin: 0 .8rem;
			  }

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}
